*,
*:before,
*::after {
    box-sizing: border-box;
}
.page{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    min-width: 1250px;
    background-image: url('../assets/fon.jpg');
    background-size: cover;
}

.content {
    overflow: hidden;
    max-width: 100%;
    min-block-size: 50%;
    color: black;
    font-size: 20px;
    font-family: URW Chancery L, cursive;
}
.poluprozrachiy {
    opacity: 0.85;
    filter: alpha(opacity = 0.75);
    filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0.75);
}
.text-style{
    color:white;
    text-align: center;
    justify-content: center;
}
.left {
    left: 0;
}
.right{
    right: 0;
    margin-right: 15%;
}
.three-blocks{
    position: relative;
    width: 33%;
}
.two-blocks{
    position: relative;
    justify-content: center;
    width: 50%;
    overflow: hidden;
}
.two-blocks-left-block{
    margin-right: 2%;
    height: 100vh;
    width: 100vw;
    line-height: 2.5;
}
.two-blocks-right-block{
    margin-left: 2%;
    height: 100vh;
    width: 100vw;
}
.flex-column{
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
.flex-row{
    overflow: hidden;
    display: flex;
    flex-direction: row;
}
.margin-left-right{
    margin-left: 10%;
    margin-right: 10%;
}